header
  background-color: $darkgrey
  background-repeat: no-repeat
  background-attachment: scroll
  background-position: center center
  background-size: cover
  background-origin: border-box
  color: white

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative